[Desktop Entry]
Version=1.1
Type=Application
Name=Flatpak GUI
Name[tr]=Flatpak GUI
GenericName=GUI for Flatpak
GenericName[tr]=Flatpak için GUI
Comment=Manage Flatpak softwares via GUI
Comment[tr]=GUI ile Flatpak yazılımlarını yönet
TryExec=flatpak-gui
Exec=flatpak-gui %f
Icon=applications-system
MimeType=application/vnd.flatpak.ref
Terminal=false
Categories=Settings;Utility;PackageManager;GTK;
